
*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto', sans-serif;
font-family: 'The Nautigal', cursive;
}
.list-header{
    min-height: 100vh;
    width: 100%;
   /* background-image: url(background-image/); */
    background-position: center;
    background-color: pink;
    background-size: cover;
    position: relative;
    color: orchid;

}
.wrapper{
    box-sizing: border-box;
    color: deepskyblue;
    width: 800px;
    margin: 50px auto;


}
.links{
    margin-bottom: 20px;
    background: black;
    padding: 15px;
    border-radius: 3px;
}
.links ul{
    display: flex;
    justify-content: center;
}
.links ul li{
    margin: 0 15px;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 20px;
    letter-spacing: 3px;
    cursor: pointer;
}
.links ul li:hover,
.links ul li.active{
    color: blue;
}

.view-main{
    background: #fff;
    border-radius: 3px;
    padding: 15px;
}
.list-view .view_item{
    border: 1px solid black;
    margin: 10px;
    padding: 10px 20px;
    display: flex;
    align-items: center;

}
.list-view .view_item:last-child{
    margin-bottom: 0;
}

